<div class="container">
  <h1 class="h1-center">Résultats</h1>
  <p><%= @weather_data["Text_max"] %> degC</p>
  <% if @sorted_working_wells==[] %>
    <h2 class="h2-center-results">Désolé, GeoCool n'a pas trouvé de système adapté à vos données</h2>
  <% elsif @sorted_working_wells.length < 3 %>
    <h2 class="h2-center-results"> Moins de 3 résultats trouvés : que faire ?</h2>
  <% else %>

  <h2 class="h2-center-results"> Geocool a trouvé <strong> &nbsp; <%= @sorted_working_wells.length %>  configurations  </strong> &nbsp; pertinentes pour votre projet ! Voici le top 3 </h2>

      <div class="container flex-container container-cards-results">
      <% @sorted_working_wells.first(3).each_with_index do |working_well, index| %>

        <div class="results-container results-container-<%= index + 1 %>" >
          <div class="flex-container circle-number">
            <p><strong><%= index +1 %></strong></p>

          </div>

        <% if index == 0 %>
          <div class="first-results-card">
        <% else %>
          <div class="results-card">
        <% end %>

            <div class="flex-container top">
              <%= cl_image_tag working_well.pipe.photo.key, width:68, height:68, crop: :fill, class:"result-pipe" %>
              <%# <%= cl_image_tag @sorted_working_wells[1].pipe.photo.key, width:68, height:68, crop: :fill, class:"result-pipe" %>
              <div class="title-result">
                <h2 class="h2-card-result"> <%= working_well.pipe.material %></h2>
                <p class="pipe-type"> <%= working_well.pipe.nominal_diameter_dn %> </p>
              </div>
            </div>


            <div>
              <div class="align-item">
                <p class="label-card">Fabricant</p>
                <p class="response-card"><%= working_well.pipe.manufacturer.social_name %></p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card"> Nombre de tubes</p>
                <p class="response-card"><%= working_well.proposed_number_of_pipes %></p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Vitesse max</p>
                <p class="response-card"><%= working_well.nominal_speed %> m/s</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Longueur unitaire</p>
                <p class="response-card"><%= working_well.proposed_length_lo %> m</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Longueur totale</p>
                <p class="response-card"><%= working_well.proposed_total_length %> m</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Surface au sol</p>
                <p class="response-card"><%= working_well.occupied_area %> m²</p>
              </div>
            </div>

            <hr>

            <div class="links-premium">
              <div class="align-item link-premium" id="first-link-premium">
                <%= link_to 'Exporter en PDF', root_path %>
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.375 6.65V4.75C11.375 2.09 9.45 0 7 0C4.55 0 2.625 2.09 2.625 4.75V6.65C1.1375 6.65 0 7.885 0 9.5V16.15C0 17.765 1.1375 19 2.625 19H11.375C12.8625 19 14 17.765 14 16.15V9.5C14 7.885 12.8625 6.65 11.375 6.65ZM4.375 4.75C4.375 3.135 5.5125 1.9 7 1.9C8.4875 1.9 9.625 3.135 9.625 4.75V6.65H4.375V4.75ZM7.9625 12.825L7.875 12.92V14.25C7.875 14.82 7.525 15.2 7 15.2C6.475 15.2 6.125 14.82 6.125 14.25V12.92C5.6 12.35 5.5125 11.495 6.0375 10.925C6.5625 10.355 7.35 10.26 7.875 10.83C8.4 11.305 8.4875 12.255 7.9625 12.825Z" fill="#8E8E93"/>
                </svg>
              </div>
              <div class="align-item link-premium">
                <%= link_to 'Performances annuelles', root_path %>
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.375 6.65V4.75C11.375 2.09 9.45 0 7 0C4.55 0 2.625 2.09 2.625 4.75V6.65C1.1375 6.65 0 7.885 0 9.5V16.15C0 17.765 1.1375 19 2.625 19H11.375C12.8625 19 14 17.765 14 16.15V9.5C14 7.885 12.8625 6.65 11.375 6.65ZM4.375 4.75C4.375 3.135 5.5125 1.9 7 1.9C8.4875 1.9 9.625 3.135 9.625 4.75V6.65H4.375V4.75ZM7.9625 12.825L7.875 12.92V14.25C7.875 14.82 7.525 15.2 7 15.2C6.475 15.2 6.125 14.82 6.125 14.25V12.92C5.6 12.35 5.5125 11.495 6.0375 10.925C6.5625 10.355 7.35 10.26 7.875 10.83C8.4 11.305 8.4875 12.255 7.9625 12.825Z" fill="#8E8E93"/>
                </svg>
              </div>
            </div>

            <div class="btn-card-result">
              <%= link_to 'Contacter le fabricant', root_path %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    <% if @project.working_well_systems.empty? %>
      <div class="flex-container">
        <button type= "submit" class="btn-save">
          <%= link_to 'Sauvegarder les résultats', project_working_well_systems_path(test: {systems: @sorted_working_wells.as_json}), data: {turbo_method: :post}  %>
          <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z" fill="black"/>
          </svg>
        </button>
      </div>
      <% else %>
        <div class="flex-container">
          <button class="btn-project-result">
            <%= link_to 'Mes projets', projects_path %>
          </button>
        </div>
    <% end %>
  </div>

  <div class="container-cards">

    <h2 class="text-center h2-infos-risques" > Principaux risques <br>
    sur votre commune</h2>

      <!--
      <p class="p-center"> Rappel débits : <%= @building.nominal_flow_rate %>   m3/h + mettre un paragraphe d'intro sur le classement + nombre de calculs réalisés </p>
      -->

      <div class="flex-container container-risks ">

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <g clip-path="url(#clip0_1_2)">
            <path d="M34.6024 24.684C35.3403 24.684 35.9913 24.0665 35.9913 23.2683C36.0347 22.8713 35.8611 22.5185 35.5139 22.2098L24.4332 12.3087C24.1727 12.0882 23.8255 12 23.5217 12C23.2179 12 22.8707 12.0441 22.5668 12.3528L11.434 22.2098C11.1302 22.5185 11 22.8713 11 23.2683C11 24.0621 11.6076 24.684 12.3889 24.684H13.7778V31.7581C13.7778 33.3149 15.0234 34.5806 16.5556 34.5806H21L19.6415 32.2785C19.4635 31.9786 19.5286 31.5949 19.7934 31.3744L23.5 28.2298L20.8872 24.5781C20.4141 23.9166 21.2431 23.1007 21.8767 23.6079L26.9939 27.6918C27.3411 27.9696 27.3498 28.5033 27.0113 28.7899L23.5 31.7581L25.1667 34.5806H30.4661C32.0069 34.5806 33.2526 33.3105 33.2439 31.7448L33.2135 24.6796H34.6024V24.684Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_1_2">
            <rect width="25" height="22.5806" fill="white" transform="translate(11 12)"/>
            </clipPath>
            </defs>
          </svg>
          <h3> Risque sismique </h3>
          <p> <%= @seismes %> </p>
        </div>

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <g clip-path="url(#clip0_1_2)">
            <path d="M25.1771 13.1025C24.526 12.4678 23.4687 12.4678 22.8177 13.1025L14.4844 21.2275C13.8333 21.8623 13.8333 22.8932 14.4844 23.5279C15.1354 24.1627 16.1927 24.1627 16.8437 23.5279L22.3333 18.1705V33.7502C22.3333 34.649 23.0781 35.3752 24 35.3752C24.9219 35.3752 25.6667 34.649 25.6667 33.7502V18.1705L31.1562 23.5229C31.8073 24.1576 32.8646 24.1576 33.5156 23.5229C34.1667 22.8881 34.1667 21.8572 33.5156 21.2225L25.1823 13.0975L25.1771 13.1025Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_1_2">
            <rect width="20" height="26" fill="white" transform="translate(14 11)"/>
            </clipPath>
            </defs>
          </svg>

          <h3> Retrait et gonflement d’argiles </h3>
          <%# PENSER A METTRE RESULTAT %>
          <p> Classe <%= @radon %> </p>
        </div>

        <div class="container-risk ">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M21.5468 20.116C20.3798 20.7898 19.5937 22.0545 19.5937 23.4998H12.5624C11.6982 23.4998 10.9902 22.7967 11.0976 21.9422C11.5224 18.5193 13.3339 15.5262 15.9462 13.5389C16.6347 13.0164 17.5966 13.2801 18.0312 14.0271L21.5468 20.116ZM23.4999 27.4061C24.2128 27.4061 24.8769 27.2156 25.4531 26.8836L28.9687 32.9773C29.3984 33.7244 29.1494 34.6912 28.3535 35.0232C26.8593 35.6531 25.2187 35.9998 23.4999 35.9998C21.7812 35.9998 20.1357 35.6531 18.6464 35.0232C17.8505 34.6863 17.6015 33.7244 18.0312 32.9773L21.5468 26.8836C22.123 27.2156 22.7871 27.4061 23.4999 27.4061ZM34.4374 23.4998H27.4062C27.4062 22.0545 26.6201 20.7898 25.4531 20.116L28.9687 14.0271C29.3984 13.2801 30.3652 13.0164 31.0537 13.5389C33.6708 15.5262 35.4775 18.5193 35.9072 21.9422C36.0146 22.7967 35.3017 23.4998 34.4423 23.4998H34.4374ZM23.4999 21.1561C24.1215 21.1561 24.7177 21.403 25.1572 21.8425C25.5968 22.2821 25.8437 22.8782 25.8437 23.4998C25.8437 24.1214 25.5968 24.7175 25.1572 25.1571C24.7177 25.5966 24.1215 25.8436 23.4999 25.8436C22.8783 25.8436 22.2822 25.5966 21.8427 25.1571C21.4031 24.7175 21.1562 24.1214 21.1562 23.4998C21.1562 22.8782 21.4031 22.2821 21.8427 21.8425C22.2822 21.403 22.8783 21.1561 23.4999 21.1561Z" fill="white"/>
          </svg>
          <h3> Risque radon </h3>
          <p> Catégorie <%= @radon %> </p>
        </div>

      </div>

  </div>
<hr>
  <div class="flex-container ">
    <div>
        <h2 class="text-center h2-infos-risques"> Rappel du projet</h2>
        <div class="flex-container">
          <p class="p-center"> Débit de ventilation : <%= @building.nominal_flow_rate %>   m3/h + </p>
          <p class="p-center"> Type de sol : <%= @project.ground_type.name %>   </p>
        </div>
    </div>
  </div>
  <div class="flex-container results-table">
    <table>
      <thead>
        <tr>
          <th># </th>
          <th> Nom de la configuration </th>
          <th> Fabricant </th>
          <th> Diamètre extérieur </th>
          <th> Nombre de tubes </th>
          <th> Longueur unitaire conseillée </th>
          <th> Gain énergétique - Hiver  </th>
          <th> Gain énergétique - Hiver  </th>

          <!-- Ajoutez ici d'autres en-têtes de colonnes si nécessaire -->
        </tr>
      </thead>
        <tbody>
        <% @sorted_working_wells.each_with_index do |well,index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= well.name %></td>
            <td><%= well.pipe.manufacturer.social_name %></td>
            <td><%= well.pipe.diameter_ext_mm %> mm</td>
            <td><%= well.proposed_number_of_pipes %> tubes </td>
            <td><%= well.proposed_length_lo %>m/tube</td>

            <!-- Ajoutez ici d'autres cellules correspondant aux autres attributs de well si nécessaire -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
