<div class="container">
  <h1 class="h1-center">Résultats</h1>
  <% if @sorted_working_wells==[] %>
    <h2 class="h2-center-results">Désolé, GeoCool n'a pas trouvé de système adapté à vos données</h2>
  <% elsif @sorted_working_wells.length < 3 %>
    <h2 class="h2-center-results"> Moins de 3 résultats trouvés : que faire ?</h2>
  <% else %>
    <h2 class="h2-center-results"> Geocool a trouvé <strong> &nbsp; <%= @sorted_working_wells.length %>  configurations  </strong> &nbsp; pertinentes pour votre projet !  Voici le top 3 </h2>
      <div class="container flex-container container-cards-results">
      <% @sorted_working_wells.first(3).each_with_index do |working_well, index| %>

        <div class="results-container results-container-<%= index + 1 %>" >
          <div class="flex-container circle-number">
            <p><strong><%= index +1 %></strong></p>

          </div>

        <% if index == 0 %>
          <div class="first-results-card">
        <% else %>
          <div class="results-card">
        <% end %>

            <div class="flex-container top">
              <%= cl_image_tag working_well.pipe.photo.key, width:68, height:68, crop: :fill, class:"result-pipe" %>
              <%# <%= cl_image_tag @sorted_working_wells[1].pipe.photo.key, width:68, height:68, crop: :fill, class:"result-pipe" %>
              <div class="title-result">
                <h2 class="h2-card-result"> <%= working_well.pipe.material %></h2>
                <p class="pipe-type"> <%= working_well.pipe.nominal_diameter_dn %> </p>
              </div>
            </div>


            <div>
              <div class="align-item">
                <p class="label-card">Fabricant</p>
                <p class="response-card"><%= working_well.pipe.manufacturer.social_name %></p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Tubes</p>
                <p class="response-card"><%= working_well.proposed_number_of_pipes %></p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Vitesse max</p>
                <p class="response-card"><%= working_well.nominal_speed %> m/s</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Longueur unitaire</p>
                <p class="response-card"><%= working_well.proposed_length_lo %> m</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Longueur totale</p>
                <p class="response-card"><%= working_well.proposed_total_length %> m</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Surface au sol</p>
                <p class="response-card"><%= working_well.occupied_area %> m²</p>
              </div>
            </div>

            <hr>

            <div class="links-premium">
              <div class="align-item link-premium" id="first-link-premium">
                <%= link_to 'Exporter en PDF', root_path %>
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.375 6.65V4.75C11.375 2.09 9.45 0 7 0C4.55 0 2.625 2.09 2.625 4.75V6.65C1.1375 6.65 0 7.885 0 9.5V16.15C0 17.765 1.1375 19 2.625 19H11.375C12.8625 19 14 17.765 14 16.15V9.5C14 7.885 12.8625 6.65 11.375 6.65ZM4.375 4.75C4.375 3.135 5.5125 1.9 7 1.9C8.4875 1.9 9.625 3.135 9.625 4.75V6.65H4.375V4.75ZM7.9625 12.825L7.875 12.92V14.25C7.875 14.82 7.525 15.2 7 15.2C6.475 15.2 6.125 14.82 6.125 14.25V12.92C5.6 12.35 5.5125 11.495 6.0375 10.925C6.5625 10.355 7.35 10.26 7.875 10.83C8.4 11.305 8.4875 12.255 7.9625 12.825Z" fill="#8E8E93"/>
                </svg>
              </div>
              <div class="align-item link-premium">
                <%= link_to 'Performances annuelles', root_path %>
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.375 6.65V4.75C11.375 2.09 9.45 0 7 0C4.55 0 2.625 2.09 2.625 4.75V6.65C1.1375 6.65 0 7.885 0 9.5V16.15C0 17.765 1.1375 19 2.625 19H11.375C12.8625 19 14 17.765 14 16.15V9.5C14 7.885 12.8625 6.65 11.375 6.65ZM4.375 4.75C4.375 3.135 5.5125 1.9 7 1.9C8.4875 1.9 9.625 3.135 9.625 4.75V6.65H4.375V4.75ZM7.9625 12.825L7.875 12.92V14.25C7.875 14.82 7.525 15.2 7 15.2C6.475 15.2 6.125 14.82 6.125 14.25V12.92C5.6 12.35 5.5125 11.495 6.0375 10.925C6.5625 10.355 7.35 10.26 7.875 10.83C8.4 11.305 8.4875 12.255 7.9625 12.825Z" fill="#8E8E93"/>
                </svg>
              </div>
            </div>

            <div class="btn-card-result">
              <%= link_to 'Contacter le fabricant', root_path %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    <div class="flex-container">
      <button type= "submit" class="btn-save">
        <%= link_to 'Sauvegarder les résultats', project_working_well_systems_path(test: {systems: @sorted_working_wells.as_json}), data: {turbo_method: :post}  %>
        <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z" fill="black"/>
        </svg>
      </button>
    </div>

  </div>

  <div>
    <h2 class="text-center h2-infos-risques">Informations risques</h2>
      <p class="p-center"> Rappel débits : <%= @building.nominal_flow_rate %>   m3/h + </p>
      <p class="p-center"> Rappel sol : <%= @project.ground_type.name %>   </p>
      <p> Risque Sismique sur votre commune : <%= @seismes %> </p>
      <p> Risques Radon sur votre commune : Catégorie <%= @radon %> </p>
  </div>

  <div class="flex-container">
    <p>
      <%= @sorted_working_wells.as_json %>
    </p>
  </div>

</div>
