<div class="container">
  <h1 class="h1-center h1-result">Résultats</h1>
  <% if @sorted_working_wells==[] %>
    <h2 class="h2-center-results">Désolé, GeoCool n'a pas trouvé de système adapté à vos données</h2>
  <% elsif @sorted_working_wells.length < 3 %>
    <h2 class="h2-center-results"> Moins de 3 résultats trouvés : que faire ?</h2>
  <% else %>

  <h2 class="h2-center-results"> <span class="logogeocool">Geocool </span>  &nbsp; a étudié <%= @number_of_calculs %> possibilités & trouvé <strong> &nbsp; <%= @sorted_working_wells.length %>  configurations  </strong> &nbsp; pertinentes pour votre projet ! </h2>

      <div class="container flex-container container-cards-results">
      <% @sorted_working_wells.first(3).each_with_index do |working_well, index| %>

        <div class="results-container results-container-<%= index + 1 %>" >
          <div class="flex-container circle-number">
            <p><strong><%= index +1 %></strong></p>

          </div>

        <% if index == 0 %>
          <div class="first-results-card">
        <% else %>
          <div class="results-card">
        <% end %>

            <div class="flex-container top">
              <%= cl_image_tag working_well.pipe.photo.key, width:68, height:68, crop: :fill, class:"result-pipe" %>
              <%# <%= cl_image_tag @sorted_working_wells[1].pipe.photo.key, width:68, height:68, crop: :fill, class:"result-pipe" %>
              <div class="title-result">
                <h2 class="h2-card-result"> <%= working_well.pipe.material %></h2>
                <p class="pipe-type"> <%= working_well.pipe.nominal_diameter_dn %> </p>
              </div>
            </div>


            <div>
              <div class="align-item">
                <p class="label-card" id="label-card-manufacturer">Fabricant</p>
                <p class="response-card"><%= working_well.pipe.manufacturer.social_name %></p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card"> Nombre de tubes</p>
                <p class="response-card"><%= working_well.proposed_number_of_pipes %></p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Vitesse max</p>
                <p class="response-card"><%= working_well.nominal_speed %> m/s</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Longueur unitaire</p>
                <p class="response-card"><%= working_well.proposed_length_lo %> m</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Longueur totale</p>
                <p class="response-card"><%= working_well.proposed_total_length %> m</p>
              </div>
            </div>

            <div>
              <div class="align-item">
                <p class="label-card">Surface au sol</p>
                <p class="response-card"><%= working_well.occupied_area %> m²</p>
              </div>
            </div>




            <hr class = "hr-results">

            <div class="links-premium">

              <div class="align-item link-premium" id="first-link-premium">
                <%= link_to 'Performances annuelles', root_path, id: "annual-perf" %>
                <%# <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.375 6.65V4.75C11.375 2.09 9.45 0 7 0C4.55 0 2.625 2.09 2.625 4.75V6.65C1.1375 6.65 0 7.885 0 9.5V16.15C0 17.765 1.1375 19 2.625 19H11.375C12.8625 19 14 17.765 14 16.15V9.5C14 7.885 12.8625 6.65 11.375 6.65ZM4.375 4.75C4.375 3.135 5.5125 1.9 7 1.9C8.4875 1.9 9.625 3.135 9.625 4.75V6.65H4.375V4.75ZM7.9625 12.825L7.875 12.92V14.25C7.875 14.82 7.525 15.2 7 15.2C6.475 15.2 6.125 14.82 6.125 14.25V12.92C5.6 12.35 5.5125 11.495 6.0375 10.925C6.5625 10.355 7.35 10.26 7.875 10.83C8.4 11.305 8.4875 12.255 7.9625 12.825Z" fill="#d1aa0e"/>
                </svg> %>
              </div>

              <ul>
                <li>
                  <div>
                    <div class="align-item align-item-nrj">
                      <p class="label-card card-nrj"> Hiver </p>
                      <p class="response-card card-nrj"><%= ((@wells_results.find { |well| well[:temporary_well_id]==working_well.temporary_well_id})[:winter_results]["total_winter_gain_vs_SF_kwh"] / working_well.proposed_total_length).round %> kwh/ml </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="align-item">
                      <p class="label-card card-nrj"> Eté </p>
                      <p class="response-card card-nrj"><%= ((@wells_results.find { |well| well[:temporary_well_id]==working_well.temporary_well_id})[:summer_results]["total_summer_gain_vs_SF_kwh"]["value"] / working_well.proposed_total_length).round %> kwh/ml </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="align-item link-premium">
                <%= link_to 'Résultats détaillés ', root_path %>
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.375 6.65V4.75C11.375 2.09 9.45 0 7 0C4.55 0 2.625 2.09 2.625 4.75V6.65C1.1375 6.65 0 7.885 0 9.5V16.15C0 17.765 1.1375 19 2.625 19H11.375C12.8625 19 14 17.765 14 16.15V9.5C14 7.885 12.8625 6.65 11.375 6.65ZM4.375 4.75C4.375 3.135 5.5125 1.9 7 1.9C8.4875 1.9 9.625 3.135 9.625 4.75V6.65H4.375V4.75ZM7.9625 12.825L7.875 12.92V14.25C7.875 14.82 7.525 15.2 7 15.2C6.475 15.2 6.125 14.82 6.125 14.25V12.92C5.6 12.35 5.5125 11.495 6.0375 10.925C6.5625 10.355 7.35 10.26 7.875 10.83C8.4 11.305 8.4875 12.255 7.9625 12.825Z" fill="#d1aa0e"/>
                </svg>
              </div>
            </div>

            <div class="btn-card-result">
              <%= link_to 'Contacter le fabricant', new_contactmanufacturer_path %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

</div>
  <h2 class="h2-center-results"> <span class="logogeocool">Geocool </span>  &nbsp; a étudié <%= @number_of_calculs %> possibilités & trouvé <strong> &nbsp; <%= @sorted_working_wells.length %>  configurations  </strong> &nbsp; pertinentes pour votre projet ! </h2>

    <% if @project.working_well_systems.empty? %>
      <div class="flex-container">
        <button type= "submit" class="btn-save">
          <%= link_to 'Sauvegarder les résultats', project_working_well_systems_path(test: {systems: @sorted_working_wells.as_json}), data: {turbo_method: :post}  %>
          <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z" fill="black"/>
          </svg>
        </button>
      </div>
      <% else %>
        <div class="flex-container">
          <button class="btn-project-result">
            <%= link_to 'Mes projets', projects_path %>
          </button>
        </div>
    <% end %>
  </div>

  <div class="town-container-cards">
    <h2 class="text-center h2-infos-risques"> Données climatiques & géologiques sur votre communes </h2>
    <hr>
    <ul>
      <li>
        <h3 class="h3-infos-risques"> Climat Extérieur </h3>
      </li>
      <div class="flex-container container-risks ">
        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M35.5551 29.1427L33.3679 27.9679L35.2705 27.4929C35.7392 27.3754 36.0181 26.9259 35.8898 26.4918L35.6611 25.7001C35.5383 25.2659 35.0529 25.0054 34.5842 25.1229L30.1374 26.2313L26.1313 24.0758L30.143 21.9203L34.5898 23.0287C35.0585 23.1462 35.5383 22.8857 35.6666 22.4515L35.8954 21.6598C36.0181 21.2257 35.7448 20.7762 35.2761 20.6587L33.3735 20.1837L35.5606 19.0089C35.9791 18.7842 36.1242 18.2836 35.8842 17.8903L35.4435 17.1804C35.2035 16.7871 34.6623 16.6543 34.2439 16.879L32.0567 18.0538L32.5645 16.2814C32.6872 15.8472 32.4138 15.3978 31.9451 15.2803L31.0971 15.0709C30.6284 14.9534 30.1485 15.2139 30.0202 15.648L28.8318 19.7853L24.8202 21.9408V17.6247L28.073 14.5958C28.4133 14.2792 28.4133 13.7582 28.073 13.4415L27.4537 12.8643C27.1133 12.5476 26.5554 12.5476 26.215 12.8643L24.8257 14.1617V11.8172C24.8257 11.3678 24.4352 11 23.9498 11H23.0738C22.5884 11 22.1978 11.3678 22.1978 11.8172V14.1719L20.8085 12.8745C20.4682 12.5579 19.9102 12.5579 19.5699 12.8745L18.9282 13.4517C18.5879 13.7684 18.5879 14.2894 18.9282 14.6061L22.1811 17.6349V21.951L18.1694 19.7955L16.981 15.6583C16.8582 15.2241 16.3728 14.9636 15.9042 15.0811L15.0561 15.2905C14.5874 15.408 14.3084 15.8575 14.4368 16.2916L14.9445 18.064L12.7573 16.8892C12.3389 16.6645 11.8033 16.7973 11.5578 17.1906L11.117 17.9005C10.8771 18.2938 11.0165 18.7893 11.4406 19.0191L13.6277 20.1939L11.7251 20.6587C11.2565 20.7762 10.9775 21.2257 11.1058 21.6598L11.3346 22.4515C11.4573 22.8857 11.9427 23.1462 12.4114 23.0287L16.8582 21.9203L20.8699 24.0758L16.8582 26.2313L12.4114 25.1229C11.9427 25.0054 11.4629 25.2659 11.3346 25.7001L11.1058 26.4918C10.9831 26.9259 11.2565 27.3754 11.7251 27.4929L13.6277 27.9679L11.4406 29.1427C11.0221 29.3674 10.8771 29.868 11.117 30.2613L11.5578 30.9712C11.7977 31.3645 12.3389 31.4973 12.7573 31.2726L14.9445 30.0978L14.4368 31.8702C14.314 32.3044 14.5874 32.7538 15.0561 32.8713L15.9042 33.0807C16.3728 33.1982 16.8527 32.9377 16.981 32.5036L18.1694 28.3663L22.1811 26.2108V30.5269L18.9282 33.5558C18.5879 33.8724 18.5879 34.3934 18.9282 34.7101L19.5476 35.2873C19.8879 35.604 20.4458 35.604 20.7862 35.2873L22.1755 33.9899V36.3344C22.1755 36.7838 22.566 37.1516 23.0515 37.1516H23.9274C24.4129 37.1516 24.8034 36.7838 24.8034 36.3344V33.9797L26.1927 35.2771C26.533 35.5937 27.091 35.5937 27.4313 35.2771L28.0507 34.6999C28.391 34.3832 28.391 33.8622 28.0507 33.5455L24.7978 30.5167V26.2006L28.8095 28.3561L29.9979 32.4933C30.1206 32.9275 30.6061 33.188 31.0747 33.0705L31.9228 32.8611C32.3915 32.7436 32.6705 32.2941 32.5421 31.86L32.0344 30.0876L34.2216 31.2624C34.64 31.4871 35.1756 31.3543 35.4211 30.961L35.8619 30.251C36.1186 29.868 35.9791 29.3674 35.5551 29.1427Z" fill="white"/>
          </svg>
            <h4> T°C Mini </h4>
            <p><%= @weather_data["Text_min"] %>°C</p>
        </div>
        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M23.5007 18.0629C20.5043 18.0629 18.0629 20.5043 18.0629 23.5007C18.0629 26.4971 20.5043 28.9385 23.5007 28.9385C26.4971 28.9385 28.9385 26.4971 28.9385 23.5007C28.9385 20.5043 26.4971 18.0629 23.5007 18.0629ZM37.4576 22.6227L32.0935 19.9435L33.9911 14.2565C34.246 13.4862 33.5153 12.7555 32.7506 13.016L27.0636 14.9136L24.3787 9.54378C24.0162 8.81874 22.9852 8.81874 22.6227 9.54378L19.9435 14.9079L14.2508 13.0104C13.4805 12.7555 12.7498 13.4862 13.0104 14.2508L14.9079 19.9378L9.54378 22.6227C8.81874 22.9852 8.81874 24.0162 9.54378 24.3787L14.9079 27.0579L13.0104 32.7506C12.7555 33.5209 13.4862 34.2516 14.2508 33.9911L19.9378 32.0935L22.6171 37.4576C22.9796 38.1827 24.0105 38.1827 24.373 37.4576L27.0522 32.0935L32.7392 33.9911C33.5096 34.246 34.2403 33.5153 33.9797 32.7506L32.0822 27.0636L37.4463 24.3843C38.1827 24.0162 38.1827 22.9852 37.4576 22.6227ZM28.6269 28.6269C25.8004 31.4534 21.201 31.4534 18.3745 28.6269C15.548 25.8004 15.548 21.201 18.3745 18.3745C21.201 15.548 25.8004 15.548 28.6269 18.3745C31.4534 21.201 31.4534 25.8004 28.6269 28.6269Z" fill="white"/>
          </svg>
          <h4> T°C Maxi </h4>
          <p><%= @weather_data["Text_max"] %>°C</p>
        </div>

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M27.25 30.5C27.25 32.5711 25.571 34.25 23.5 34.25C21.4289 34.25 19.75 32.5711 19.75 30.5C19.75 29.1122 20.5044 27.9015 21.625 27.2529V21.125C21.625 20.0895 22.4645 19.25 23.5 19.25C24.5355 19.25 25.375 20.0895 25.375 21.125V27.2529C26.4955 27.9015 27.25 29.1122 27.25 30.5ZM29.125 25.5399C30.2917 26.8619 31 28.5981 31 30.5C31 34.6424 27.6424 38 23.5 38C23.4825 38 23.4643 38 23.4467 37.9999C19.3275 37.9713 15.9791 34.5803 16.0001 30.4609C16.0097 28.5743 16.7163 26.8529 17.875 25.5399V13.625C17.875 10.5184 20.3934 8 23.5 8C26.6066 8 29.125 10.5184 29.125 13.625V25.5399ZM28.1875 30.5C28.1875 28.488 27.0525 27.442 26.3125 26.6034V13.625C26.3125 12.0742 25.0508 10.8125 23.5 10.8125C21.9492 10.8125 20.6875 12.0742 20.6875 13.625V26.6034C19.9415 27.4488 18.8227 28.4843 18.8125 30.4753C18.7994 33.0462 20.8963 35.1696 23.4662 35.1874L23.5 35.1875C26.0847 35.1875 28.1875 33.0847 28.1875 30.5Z" fill="white"/>
          </svg>
          <h4> T°C-Moyenne </h4>
          <p><%= @weather_data["Text_mean_degC"].round(1) %>°C</p>
        </div>

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M33.75 10C30.857 10 28.5 12.357 28.5 15.25C28.5 18.143 30.857 20.5 33.75 20.5C36.643 20.5 39 18.143 39 15.25C39 12.357 36.643 10 33.75 10ZM33.75 17C32.782 17 32 16.218 32 15.25C32 14.282 32.782 13.5 33.75 13.5C34.718 13.5 35.5 14.282 35.5 15.25C35.5 16.218 34.718 17 33.75 17ZM25 16.125C25 12.7398 22.2602 10 18.875 10C15.4898 10 12.75 12.7398 12.75 16.125V25.2305C11.6727 26.5813 11 28.2656 11 30.125C11 34.4727 14.5273 38 18.875 38C23.2227 38 26.75 34.4727 26.75 30.125C26.75 28.2656 26.0773 26.5758 25 25.2305V16.125ZM18.875 34.5C16.4633 34.5 14.5 32.5367 14.5 30.125C14.5 28.7305 15.1672 27.4508 16.25 26.6359V16.125C16.25 14.6758 17.4258 13.5 18.875 13.5C20.3242 13.5 21.5 14.6758 21.5 16.125V26.6359C22.5828 27.4453 23.25 28.7305 23.25 30.125C23.25 32.5367 21.2867 34.5 18.875 34.5ZM19.75 27.6586V26.625C19.75 26.1437 19.3563 25.75 18.875 25.75C18.3937 25.75 18 26.1437 18 26.625V27.6586C16.9828 28.0195 16.25 28.982 16.25 30.125C16.25 31.5742 17.4258 32.75 18.875 32.75C20.3242 32.75 21.5 31.5742 21.5 30.125C21.5 28.982 20.7672 28.0195 19.75 27.6586Z" fill="white"/>
          </svg>
          <h4> Heures < 0°C  </h4>
          <p><%= @weather_data["nb_hours_inf_zero"].round(1) %> heures / an</p>
        </div>

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M34.75 10C31.857 10 29.5 12.357 29.5 15.25C29.5 18.143 31.857 20.5 34.75 20.5C37.643 20.5 40 18.143 40 15.25C40 12.357 37.643 10 34.75 10ZM34.75 17C33.782 17 33 16.218 33 15.25C33 14.282 33.782 13.5 34.75 13.5C35.718 13.5 36.5 14.282 36.5 15.25C36.5 16.218 35.718 17 34.75 17ZM26 16.125C26 12.7398 23.2602 10 19.875 10C16.4898 10 13.75 12.7398 13.75 16.125V25.2305C12.6727 26.5813 12 28.2656 12 30.125C12 34.4727 15.5273 38 19.875 38C24.2227 38 27.75 34.4727 27.75 30.125C27.75 28.2656 27.0773 26.5758 26 25.2305V16.125ZM19.875 34.5C17.4633 34.5 15.5 32.5367 15.5 30.125C15.5 28.7305 16.1672 27.4508 17.25 26.6359V16.125C17.25 14.6758 18.4258 13.5 19.875 13.5C21.3242 13.5 22.5 14.6758 22.5 16.125V26.6359C23.5828 27.4453 24.25 28.7305 24.25 30.125C24.25 32.5367 22.2867 34.5 19.875 34.5ZM20.75 27.6586V16.125C20.75 15.6437 20.3563 15.25 19.875 15.25C19.3937 15.25 19 15.6437 19 16.125V27.6586C17.9828 28.0195 17.25 28.982 17.25 30.125C17.25 31.5742 18.4258 32.75 19.875 32.75C21.3242 32.75 22.5 31.5742 22.5 30.125C22.5 28.982 21.7672 28.0195 20.75 27.6586Z" fill="white"/>
          </svg>
          <h4> Heures > 28°C  </h4>
          <p><%= @weather_data["nb_hours_sup_vingthuit"].round(1) %> heures / an</p>
        </div>

      </div>

    <hr>

      <li>
          <h3 class="h3-infos-risques"> Risques géologiques </h3>
      </li>
      <div class="flex-container container-risks ">

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <g clip-path="url(#clip0_1_2)">
            <path d="M34.6024 24.684C35.3403 24.684 35.9913 24.0665 35.9913 23.2683C36.0347 22.8713 35.8611 22.5185 35.5139 22.2098L24.4332 12.3087C24.1727 12.0882 23.8255 12 23.5217 12C23.2179 12 22.8707 12.0441 22.5668 12.3528L11.434 22.2098C11.1302 22.5185 11 22.8713 11 23.2683C11 24.0621 11.6076 24.684 12.3889 24.684H13.7778V31.7581C13.7778 33.3149 15.0234 34.5806 16.5556 34.5806H21L19.6415 32.2785C19.4635 31.9786 19.5286 31.5949 19.7934 31.3744L23.5 28.2298L20.8872 24.5781C20.4141 23.9166 21.2431 23.1007 21.8767 23.6079L26.9939 27.6918C27.3411 27.9696 27.3498 28.5033 27.0113 28.7899L23.5 31.7581L25.1667 34.5806H30.4661C32.0069 34.5806 33.2526 33.3105 33.2439 31.7448L33.2135 24.6796H34.6024V24.684Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_1_2">
            <rect width="25" height="22.5806" fill="white" transform="translate(11 12)"/>
            </clipPath>
            </defs>
          </svg>
          <h4> Risque sismique </h4>
          <p> <%= @seismes %> </p>
        </div>

        <div class="container-risk">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <g clip-path="url(#clip0_1_2)">
            <path d="M25.1771 13.1025C24.526 12.4678 23.4687 12.4678 22.8177 13.1025L14.4844 21.2275C13.8333 21.8623 13.8333 22.8932 14.4844 23.5279C15.1354 24.1627 16.1927 24.1627 16.8437 23.5279L22.3333 18.1705V33.7502C22.3333 34.649 23.0781 35.3752 24 35.3752C24.9219 35.3752 25.6667 34.649 25.6667 33.7502V18.1705L31.1562 23.5229C31.8073 24.1576 32.8646 24.1576 33.5156 23.5229C34.1667 22.8881 34.1667 21.8572 33.5156 21.2225L25.1823 13.0975L25.1771 13.1025Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_1_2">
            <rect width="20" height="26" fill="white" transform="translate(14 11)"/>
            </clipPath>
            </defs>
          </svg>

          <h4> Retrait & gonflement d’argiles </h4>
          <%# PENSER A METTRE RESULTAT %>
          <p> Classe <%= @radon %> </p>
        </div>

        <div class="container-risk ">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.5" cy="23.5" r="23.5" fill="#20D3B0"/>
            <path d="M21.5468 20.116C20.3798 20.7898 19.5937 22.0545 19.5937 23.4998H12.5624C11.6982 23.4998 10.9902 22.7967 11.0976 21.9422C11.5224 18.5193 13.3339 15.5262 15.9462 13.5389C16.6347 13.0164 17.5966 13.2801 18.0312 14.0271L21.5468 20.116ZM23.4999 27.4061C24.2128 27.4061 24.8769 27.2156 25.4531 26.8836L28.9687 32.9773C29.3984 33.7244 29.1494 34.6912 28.3535 35.0232C26.8593 35.6531 25.2187 35.9998 23.4999 35.9998C21.7812 35.9998 20.1357 35.6531 18.6464 35.0232C17.8505 34.6863 17.6015 33.7244 18.0312 32.9773L21.5468 26.8836C22.123 27.2156 22.7871 27.4061 23.4999 27.4061ZM34.4374 23.4998H27.4062C27.4062 22.0545 26.6201 20.7898 25.4531 20.116L28.9687 14.0271C29.3984 13.2801 30.3652 13.0164 31.0537 13.5389C33.6708 15.5262 35.4775 18.5193 35.9072 21.9422C36.0146 22.7967 35.3017 23.4998 34.4423 23.4998H34.4374ZM23.4999 21.1561C24.1215 21.1561 24.7177 21.403 25.1572 21.8425C25.5968 22.2821 25.8437 22.8782 25.8437 23.4998C25.8437 24.1214 25.5968 24.7175 25.1572 25.1571C24.7177 25.5966 24.1215 25.8436 23.4999 25.8436C22.8783 25.8436 22.2822 25.5966 21.8427 25.1571C21.4031 24.7175 21.1562 24.1214 21.1562 23.4998C21.1562 22.8782 21.4031 22.2821 21.8427 21.8425C22.2822 21.403 22.8783 21.1561 23.4999 21.1561Z" fill="white"/>
          </svg>
          <h4> Risque radon </h4>
          <p> Catégorie <%= @radon %> </p>
        </div>

      </div>
    </div>
<hr>
  <div class="flex-container ">
    <div>
        <h2 class="text-center h2-infos-risques"> Rappel du projet</h2>
        <div class="flex-container">
          <p class="p-center"> Débit de ventilation : <%= @building.nominal_flow_rate %>   m3/h + </p>
          <p class="p-center"> Type de sol : <%= @project.ground_type.name %>   </p>
          <p class="p-center"> Grâce au puits climatique Type de sol : <%= @project.ground_type.name %>   </p>

        </div>
    </div>
  </div>
  <div class="flex-container results-table">
    <table>
      <thead>
        <tr>
          <th># </th>
          <th> Nom de la configuration </th>
          <th> Fabricant </th>
          <th> Diamètre extérieur </th>
          <th> Nombre de tubes </th>
          <th> Longueur conseillée </th>
          <th> Performance - Hiver  </th>
          <th> Performance - Eté  </th>


          <!-- Ajoutez ici d'autres en-têtes de colonnes si nécessaire -->
        </tr>
      </thead>
        <tbody>
        <% @sorted_working_wells.each_with_index do |well,index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= well.name %></td>
            <td><%= well.pipe.manufacturer.social_name %></td>
            <td><%= well.pipe.diameter_ext_mm.round %> mm</td>
            <td><%= well.proposed_number_of_pipes %> tubes </td>
            <td><%= well.proposed_length_lo %>m/tube</td>
            <td><%= ((@wells_results.find { |result| result[:temporary_well_id] == well.temporary_well_id})[:winter_results]["total_winter_gain_vs_SF_kwh"] / well.proposed_total_length).round %>  kwh/ml</td>
            <td><%= ((@wells_results.find { |result| result[:temporary_well_id] == well.temporary_well_id})[:summer_results]["total_summer_gain_vs_SF_kwh"]["value"] / well.proposed_total_length).round %> kwh/ml </td>

            <!-- Ajoutez ici d'autres cellules correspondant aux autres attributs de well si nécessaire -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
