<div class="back-img">
  <p>Quels est votre type de sol ?</p>
</div>
<div class="container-infos">
    <div class=" btn-retour d-flex justify-content-between align-items-center">
      <svg width="31" height="26" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.94751 14L22.9178 14M3.94751 14L12.0776 7M3.94751 14L12.0776 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <%= link_to "Retour", guides_path %>
    </div>



  <h3>Différents types de sol et leur importance dans la construction d'un puits canadien</h3>

  <p>Dans la construction d'un puits canadien, il est primordial de prendre en compte les caractéristiques du sol environnant. Chaque type de sol possède des propriétés uniques qui influent directement sur la performance et l'efficacité du système. Dans cet article informatif, nous allons explorer les différents types de sol couramment rencontrés, tels que l'argile, le sable, le gravier, le limon et le calcaire. Nous aborderons également comment reconnaître ces différents types de sol selon votre région, ainsi que l'importance de chaque type dans la construction d'un puits canadien.</p>
  <%= image_tag("sols.png", width:400)%>


  <p>L'argile est un type de sol dense et compact, qui retient bien l'humidité. Lorsqu'elle est mouillée, l'argile peut gonfler, ce qui peut poser des problèmes de stabilité pour les fondations. Lorsqu'elle se dessèche, elle a tendance à se contracter et à créer des fissures. Ainsi, il est essentiel de prendre en compte ces caractéristiques lors de la construction d'un puits canadien afin d'éviter tout mouvement du sol pouvant endommager le système. Il est également important de noter que le comportement de l'argile varie selon qu'elle est sèche ou humide, ce qui nécessite des traitements différents.</p>
  <%= image_tag("details.PNG", width:400)%>


  <p>Le sable, quant à lui, est un sol granulaire composé de petites particules. Il est perméable et favorise le drainage de l'eau. Les sols sablonneux sont souvent favorables à la construction d'un puits canadien, car ils facilitent la circulation de l'air à travers les tubes enterrés. Cependant, il est important de prendre en compte le degré d'humidité du sable, car son comportement peut varier en fonction de cette caractéristique.</p>

  <%= image_tag("lithologie.PNG", width: 400) %>
  <p>Le gravier est un sol constitué de petites pierres concassées. Tout comme le sable, il est perméable et permet une bonne circulation de l'air. Cependant, en raison de sa nature granuleuse, le gravier peut être plus difficile à travailler, ce qui peut nécessiter des techniques de construction spécifiques lors de la mise en place d'un puits canadien.</p>
  <%= image_tag("Capture.PNG", width: 400) %>

  <p>Le limon, quant à lui, est un sol fin et riche en éléments nutritifs. Il retient l'eau tout en permettant un certain drainage. Le limon peut être bénéfique dans la construction d'un puits canadien, car il offre une capacité de rétention d'humidité qui optimise l'échange thermique avec le sol.</p>

  <p>Enfin, le calcaire est un type de sol principalement composé de carbonate de calcium. Sa perméabilité peut varier en fonction de la densité des formations calcaires. Il est important d'évaluer la composition et la densité du calcaire pour déterminer sa pertinence dans la construction d'un puits canadien.</p>

  <p> Il est crucial de reconnaître le type de sol dans votre région avant de construire un puits canadien. Pour ce faire, il est recommandé de faire appel à des professionnels du génie géotechnique ou à des ingénieurs civils. Ils pourront effectuer des études du sol, prélever des échantillons et analyser leurs caractéristiques afin de vous guider dans la construction d'un puits canadien adapté à votre situation</p>


</div>
