<div class="container">
  <h3 class="text-center guide-title">Le guide</h3>
  <div class="guide-container">
    <a href="<%= url_for(controller: 'pages', action: 'guidesol') %>">
      <div class= "guides-card d-flex">
        <div class="guides-img" >
          <%= image_tag "guide_sol.png" %>
        </div>
        <div class="guides-infos">
          <h3>Quels est votre type de sol ?</h3>
          <p>A travers ce guide vous apprendrez comment identifier le type de sol présent dans votre commune.</p>
        </div>
      </div>
    </a>

    <a href="<%= url_for(controller: 'pages', action: 'guidepuit') %>">
      <div class= "guides-card d-flex">
        <div class="guides-img" >
          <%= image_tag "guide_puit.png" %>
        </div>
        <div class="guides-infos">
          <h3>Découvrez l'utilité du puit canadien</h3>
          <p>Le puit canadien est une solution innovante et écologique, n'hésitez pas a faire un tour sur cet article pour en savoir plus.</p>
        </div>
      </div>
    </a>

    <a href="<%= url_for(controller: 'pages', action: 'guideventilation') %>">
      <div class= "guides-card d-flex">
        <div class="guides-img" >
          <%= image_tag "guide_ventilation.png" %>
        </div>
        <div class="guides-infos">
          <h3>Comment calculer son débit de ventilation</h3>
          <p>Le débit de ventilation correspond a la quantité d'air néccessaire pour renouveler l'air présent dans un bâtiment.</p>
        </div>
      </div>
    </a>

    <a href="<%= url_for(controller: 'pages', action: 'guidepipe') %>">
      <div class= "guides-card d-flex">
        <div class="guides-img" >
          <%= image_tag "guide_pipe.png" %>
        </div>
        <div class="guides-infos">
          <h3>Les différents type de tube</h3>
          <p>Les tubes sont utilisés pour transporter l'air jusqu'au bâtiment, leur efficacité dépend de nombreux facteurs.</p>
        </div>
      </div>
    </a>
  </div>
</div>
