<div class="container">


  <div class="flex-container">

    <div class="main-card-form main-card-form-preambule justify-content-center">

        <%= simple_form_for @project do |f| %>
          <div class="ground-container">
            <% @ground_types.each do |ground| %>
              <label class="ground d-flex">
                <%= f.radio_button :ground_type_id, ground.id, id: "ground_type_#{ground.id}", class: "ground-selector" %>
                <div class="ground-img">
                  <p>hello</p>
                </div>
                <div class="ground-infos ">
                  <p>Lambda</p>
                  <strong><%= ground.lambda_ground  %></strong>
                  <p>Density</p>
                  <strong><%= ground.density  %></strong>
                  <p>Heat</p>
                  <strong><%= ground.heat_capacity  %></strong>
                </div>
              </label>
            <% end %>
            <%= f.submit  "Suivant", class:"btn d-flex" %>
          </div>
        <% end %>

    </div>

  </div>

</div>
