<div class = container>
  <%= simple_form_for @project do |f| %>
  <%# <% @ground_types.each do |ground| %>
      <%# <%= f.collection_radio_buttons :name, label: ground.name %>
    <%= f.input :name %>
    <%= f.input :ground_type, collection: @ground_types, as: :radio_buttons %>
    <%= f.submit  "Suivant", class:"btn d-flex" %>
  <% end %>
</div>



<!--
<div>
    <div class="container">
      <% @ground_types.each do |ground| %>
        <div class="container">
          <%= ground.name %>
        </div>
      <% end %>
    </div>
</div>
-->
