<div class="container">

  <%= render "shared/progress_bar/step2_progress_bar" %>

  <div class="flex-container">

  <div class="btn-before">
    <%= link_to 'Précédent', new_project_path %>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M23.9165 12H6.99984M23.9165 12L16.6665 19M23.9165 12L16.6665 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <%= simple_form_for(@building) do |f| %>
    <div class="main-card-form main-card-form-buildings align-item">
        <div class="container-inputs-left">
          <div class="align-item inputs-form-buildings">
            <%= f.input :city_name, label: "Ville :", input_html: { value: "" } %>
            <%= f.input :postal_code, label: "Code postal :", input_html: { value: "" } %>
          </div>

          <div class="align-item inputs-form-buildings">
            <%= f.input :area, label: "Surface :", input_html: { value: "" }%>
            <%= f.input :nominal_flow_rate, label: "Débit ventilation :",input_html: { value: "" } %>
          </div>

          <%= f.input :building_type, label: "Type de travaux :", type: "radio", as: :radio_buttons, collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper-building-type', item_wrapper_class: 'category-item-building-type',
            input_html: {class: 'category-selector-building-type'}, collection: [
              "Neuf",
              "Rénovation",
              "Mixte : Neuf / Rénovation"], :include_blank => false %>
      </div>

      <div class="container-inputs-right">
          <%= f.input :category, label: "Usage principal du bâtiment :", type: "radio", as: :radio_buttons, collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper-building-use', item_wrapper_class: 'category-item-building-use',
            input_html: {class: 'category-selector-building-use'}, collection: [
              "Maison individuelle",
              "Logement Collectif",
              "Bureaux",
              "Chai Vini-viticole",
              "Groupe Scolaire",
              "Enseignement Secondaire / Université"] ,:include_blank => false %>
      </div>



    </div>

    <div>
      <%= f.submit "", class:"btn d-flex btn-next"  %>
      <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1794 9.98686L1.69227 9.98686M21.1794 9.98686L12.8278 18.2632M21.1794 9.98686L12.8278 1.71054" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

  <% end %>

  </div>

</div>
