 <div>
    <%= simple_form_for(@building) do |f| %>
      <%= f.input :area, input_html: { value: "" }%>
      <%= f.input :building_type, input_html: { value: "" } %>
      <%= f.input :postal_code, input_html: { value: "" } %>
      <%= f.input :city_name, input_html: { value: "" } %>
      <%= f.input :category, input_html: { value: "" } %>
      <%= f.input :nominal_flow_rate, input_html: { value: "" } %>
      <%= f.submit %>
    <% end %>
  </div>
