<div class="container">

  <h1 class="h1-center">Tous les fabricants</h1>

    <div class="flex-container cards-manufacturers">

    <% @manufacturers.each do |manufacturer| %>

    <div class="card-manufacturer">
      <%# IMAGE HERE %>
      <h2 class="h2-center-card-manufacturer"> <%= manufacturer.social_name %> </h2>
      <p class="address-card-manufacturer"> <%= manufacturer.address %> </p>
      <hr>

      <div class="materials-manufacturer">

        <h3><%= manufacturer.pipes.first.material %></h3>

        <div>
          <% manufacturer.pipes.each do |pipe| %>
            <div class="flex-container">
              <p><%= pipe.nominal_diameter_dn %> </p>
              <i class="fa-solid fa-circle-info tooltip-custom tooltip-dn-manufacturer" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Diamètre en mm : <%= pipe.diameter_int %> Epaisseur en mm : <%= pipe.thickness_mm %> Conductivité thermique : <%= pipe.thermal_conductivity %>"></i>
              <%# <hr> %>
            </div>
          <% end %>
        </div>

      </div>

      <div>
        <%= link_to 'Découvrir', manufacturer.website, class: "btn btn-card-manufacturer" %>
      </div>
    </div>

    <% end %>

    </div>

</div>
